  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #DACC3E;
}

body header{
    background-color: #DACC3E;
    background-size: cover;
    color: #474B24;
    margin: 20px;
    padding: 20px;
    height: 100hv;
    width: auto;
    display:flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}
body main{
    padding-bottom: 20px;
}

img.logo{
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #474B24;
    margin: 10px;
    text-align: center;
}

.barraSearch #barraSearch{
    background-color: transparent;
    border: 1px solid #474B24;
    border-radius: 7px;
    box-shadow: none;
    height: 20px;
    padding: 15px;
    margin: 20px;
    width: 100%;
}

.contenedorCards{
    background-color: #DACC3E;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contenedorProducto{
    background: white;
    border: 1px solid #474B24;
    border-radius: 7px;
    height: 180px;
    width: 150px;
    text-align: center;
    display: block;
}

.contenedorProducto:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
    cursor: pointer;
}

.cardImg img{
    padding-top: 10px;
    text-align: center;
    height: 80px;
    width: auto;
}

.cardName{
    font-size: 15px;
    font-weight: bolder;
    color: #474B24;
    margin: 5px;
    text-align: center;
}

.cardPrice {
    font-size: 13px;
    font-weight: normal;
    color: #474B24;
    margin: 5px;
    text-align: center;
    display: block;
}

.cardButton{
    text-align: center;
    background-color:#DACC3E;
    border: 1px solid #474B24;
    border-radius: 5px;
    font-size: 13px;
    padding: 1px 5px 1px;
    font-weight: bold;
    color: #474B24;
}

p{
    font-size: 1rem;
    font-weight: bold;
    color: #474B24;
    margin: 10px;
    text-align: center;
}

footer{
    background-color: white;
    background-size: 100vw;
    width: 100vw;
    padding: 8px;
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
}