  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #DACC3E;
}

body header{
    background-color: #DACC3E;
    background-size: cover;
    color: #474B24;
    margin: 20px;
    padding: 20px;
    min-height: 50vh;
    width: auto;
    display:flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}
body main{
    padding-bottom: 20px;
}

body form{
    min-height: 20vh;
}

form{
    display: block;
    text-align: center;
}

.btnCarrito{
    position: relative;
    padding-left: 75%;
    z-index: 9998;
}

#imgCarrito{
    width: auto;
    height: 60px;
    padding: 2px;
    border: 2px solid #474B24;
    border-radius: 20px;
}

#imgCarrito:hover{
    cursor: pointer;

}

img.logo{
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #474B24;
    margin: 10px;
    text-align: center;
}

#yearInput{
    background-color: transparent;
    border: 1px solid #474B24;
    border-radius: 7px;
    box-shadow: none;
    height: 120px;
    padding: 10px;
    margin: 5px;
    width: 30%;
    text-align: center;
    font-size: 20px;
}

.buttonVerificar{
    background-color: white;
    border: 1px solid #474B24;
    border-radius: 7px;
    box-shadow: none;
    height: 25px;
    width: 30%;
    text-align: center;
    font-size: 16px;
    color: #474B24;
    font-weight: bold;
}
.buttonVerificar:hover{
    cursor: pointer;
}

.barraSearch{
    display: block;
    justify-content: center;
    text-align: center;
}

.cardFilter{
    background-color: transparent;
    border: 1px solid #474B24;
    border-radius: 7px;
    box-shadow: none;
    height: 20px;
    padding: 15px;
    margin: 20px;
    width: 90vw;
    justify-content: center;
    text-align: center;
}

.contenedorCards{
    background-color: #DACC3E;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contenedorProducto{
    background: white;
    border: 1px solid #474B24;
    border-radius: 7px;
    height: 180px;
    width: 150px;
    text-align: center;
    display: block;
}

.contenedorProducto:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
    cursor: pointer;
}

.cardImg img{
    padding-top: 10px;
    text-align: center;
    height: 70px;
    width: auto;
}

.cardName{
    font-size: 15px;
    font-weight: bolder;
    color: #474B24;
    margin: 5px;
    text-align: center;
}

.cardPrice {
    font-size: 13px;
    font-weight: normal;
    color: #474B24;
    margin: 5px;
    text-align: center;
    display: block;
}

.cardButton{
    text-align: center;
    background-color:#DACC3E;
    border: 1px solid #474B24;
    border-radius: 5px;
    font-size: 13px;
    padding: 1px 5px 1px;
    font-weight: bold;
    color: #474B24;
}

p{
    font-size: 1rem;
    font-weight: bold;
    color: #474B24;
    margin: 10px;
    text-align: center;
}
.filter{
    display: none;
}

.mainCarrito{
    text-align: center;
    padding: 20px;
    min-height: 95vh;
}

table{
    width: 90vw;
    height: auto;
    padding: 5px;
    margin: 10px;
    background-color: white;
    justify-content: center;
    text-align: center;
    border-radius: 3px;
}

thead tr{
    background-color: #474B24;
    color: white;
}

#tablehead{
    padding: 10px;
    font-size: 15px;
    font-weight:lighter;
    width: auto;
    height: 20px;
    border-radius: 3px;
}

tbody tr:nth-child(even) {
    background: white;
}

.buttonDelete{
    background-color: white;
    border-color: white;
    border-radius: 2px;
}

.buttonDelete:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.buttonInicio, .buttonComprar {
    text-align: center;
    background-color:#474B24;
    border: 1px solid #474B24;
    border-radius: 3px;
    font-size: 13px;
    padding: 8px;
    color: white;
    font-weight: normal;
}

footer h3{
    background-color: white;
    background-size: 100vw;
    width: 100vw;
    min-height: 5vh;
    padding: 8px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
}
